* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: grey;
}
.main{
    margin-top:10px;
    background-color:white;
    width: 40%;
    min-height: 730px;
    margin-left:30%;
    position: relative;
    
}
.jai{
    margin-left: 20px;
    background-color: white;
    color: black;
}
.line{
    margin-left: 20px;
    border-top: 2px solid ;
    color: lightblue;
    width:60%;
    margin-bottom:5px;
}
.main i{
    margin-bottom:1px;
    background-color: white;
}
.main a{
    font-size: 15px;
}
.num {
    text-decoration: none;
    color: black;
    margin-left: 23px;
    margin-bottom: 55px;
    background-color: white; /* Added margin-bottom for more space */
}

.mail {
    margin-left: 23px;
    text-decoration: none;
    color: black;
    margin-bottom: 10px;
    background-color: white; /* Added margin-bottom for more space */
}

.loc {
    margin-left: 23px;
    text-decoration: none;
    color: black;
    margin-bottom: 10px;
    background-color: white; /* Added margin-bottom for more space */
}
.git{
    text-decoration: none;
    color: black;
    margin-left:127px;
    background-color: white;
}


.linkd{
    margin-left:30px;
    text-decoration: none;
    color: black;
    background-color: white;
}
.linetwo{
    margin-left: 20px;
    margin-right: 20px;
    margin-top:5px;
    border-top: 2px solid ;
    color: lightblue;
}
.vl{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    border-left: 2px solid lightblue;
    transform: translateX(-50%);
    margin-top: 115px;
    margin-bottom: 10px;
}
.abs{
    margin-left: 20px;
    margin-top:10px;
    background-color: white;
}
.hed{
    letter-spacing:3px;
    background-color: white;
}
.abs1{
    margin-top:4px;
    font-size: 14px;
    background-color: white;
}
.lii{
    margin-left: 20px ;
    margin-top:1px;
    background-color: white;
}
.clg{
    margin-top:3px;
    font-size: 14px;
    background-color: white;
}
.clgg{
    margin-top:-17px;
    margin-left:150px;
    font-size: 14px;
    background-color: white;
}
.vv{
    background-color: white;
    margin-top:-18px;
    margin-left:160px;
}
.abs2{
    margin-top: -585px;
    margin-left:330px;
    background-color: white;
}
.pj{
    font-size: 14px;
    background-color: white;
    margin-right:5px;
}
.abs3{
    margin-left:330px;
    margin-top:10px;
    background-color: white;
}
.ints{
    background-color: white;
    font-size: 14px;
    margin-top: 3px;
}
.ints2{
    font-size: 14px;
    background-color: white;
    margin-top:-16px;
    margin-left:140px;
}
.pjj{
    font-size: 14px;
    background-color: white;
    margin-right:10px;
    margin-top:3px;
}
.abs4{
    margin-left: 330px;
    margin-top: 10px;
    background-color: white;
}
.abs4 a{
    font-size: 14px;
    text-decoration:underline;
    color: black;
    background-color: white;
}